
.btn.upload {
	padding:3px 10px 22px;
}
.uploadify-button {
	background-color:#8B8682;
	background-image:linear-gradient(bottom, #8B8682, #696969);
	background-image:-o-linear-gradient(bottom, #8B8682, #696969);
	background-image:-moz-linear-gradient(bottom, #8B8682, #696969);
	background-image:-webkit-linear-gradient(bottom, #8B8682, #696969);
	background-image:-ms-linear-gradient(bottom, #8B8682, #696969);
	background-image:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #8B8682),
		color-stop(1, #8B8682)
	);
	background-position:center top;
	background-repeat:no-repeat;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	border:1px solid #8B8682;
	color:#FFF;
	font: normal13px 'Microsoft YaHei','Microsoft JhengHei';
	text-align:center;
	padding-bottom:3px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	float:right;
	cursor:pointer;
}
.uploadify:hover .uploadify-button {
	background-color:#696969;
	background-image:linear-gradient(top, #696969 0%, #696969 100%);
	background-image:-o-linear-gradient(top, #696969 0%, #696969 100%);
	background-image:-moz-linear-gradient(top, #696969 0%, #696969 100%);
	background-image:-webkit-linear-gradient(top, #696969 0%, #696969 100%);
	background-image:-ms-linear-gradient(top, #696969 0%, #696969 100%);
	background-image:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #696969),
		color-stop(1, #696969)
	);
	background-position:center bottom;
	cursor:pointer;
}
.uploaded_files {
	width:378px;
	height:300px;
	background-color:#fff;
	overflow-y:scroll;
	border:solid 1px #D0D0D0;
	border-radius:3px;
}
.uploaded_files.confirm{
	width:640px;
}